#Cred
devices.yaml
config/device_configs.yaml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# IDE
.idea/
.vscode/

# Logs
*.log
logs/

# Generated Health Reports
health_status/*.txt
health_status/*.json

# Generated Network Status Files
network_status/*.json

# Generated Remediation Files
remediate_status/*.json

# Saved Run Config Files
device_run_configs/*.txt

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Docker
*.tar

# Keep directories in git
!health_status/.gitkeep
!network_status/.gitkeep
!remediate_status/.gitkeep
!device_run_configs/.gitkeep